/* Google Fonts */
body {
  font-family: "Style Script", cursive;
  font-size: 14px;
}
/* home page */
.main-heading,
.main-btn {
  padding: 2rem 2rem;
}

.grow-main {
  margin: 2em 0 0 2em;
  text-align: center;
  font-size: 1em;
}
.index-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.business-heading {
  padding: 2rem 2rem 0 2rem;
}

.btn-success {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 25%;
}

.text-main {
  text-align: center;
  font-size: 1.5rem;
}

.celebrate {
  width: 100px;
  height: 100px;
}
/* offers */
.offers-heading {
  padding-left: 2rem;
  text-align: center;
}

.offers {
  padding-left: 3em;
  padding-top: 2em;
}
/* work with me */
.work-heading {
  padding-left: 2rem;
  text-align: center;
}

.success {
  padding: 2em 0 0 2em;
}
.work-btn {
  margin: 2em 0 0 2em;
}
.card-main {
  padding-left: 3rem;
  padding-top: 3rem;
}

.services {
  display: flex;
  flex-direction: row;
  padding: 2em 2em 2em 2em;
  justify-content: space-between;
}

/* Pricing */
.pricing {
  text-align: center;
}

.options {
  margin-top: 0.25em;
  margin-left: 0.5em;
  text-align: center;
}

.pricing-main {
  display: flex;
  margin-top: 3em;
  list-style-type: none;
  justify-content: space-around;
}

.card-pricing {
  list-style-type: none;
}

.complex {
  text-align: center;
}

/* footer */
.footer {
  margin-top: 25rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
