/* Google Fonts */
body {
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
}
/* home page */
.main-heading,
.main-btn {
  padding: 2rem 2rem;
  font-family: cursive;
}


.grow-main {
  margin: 2em 0 0 2em;
  text-align: center;
  font-size: 1em;
}
.index-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-heading {
  padding: 2rem 2rem 0 2rem;
}

.btn-success {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 25%;
}

.text-main {
  text-align: center;
  font-size: 1.5rem;
}

.celebrate {
  width: 100px;
  height: 100px;
}
/* offers */
.offers-heading {
  padding-left: 2rem;
  text-align: center;
}

.offers {
  padding-left: 3em;
  padding-top: 2em;
}
/* work with me */
.work-heading {
  padding-left: 2rem;
  text-align: center;
}

.success {
  padding: 2em 0 0 2em;
}

.work-btn {
  margin: 2em 0 0 2em;
}

.card-main {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 2em;
}

.services,
.services2 {
  display: flex;
  flex-direction: row;
  padding: 2em 2em 2em 2em;
  justify-content: space-around;
  align-items: center;
}

.singledOut {
  display: flex;
  justify-content: center;
}


.hireMe {
  padding-top: 3em;
  text-align: center;
}

/* footer */
.footer {
  margin-top: 25rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* testimoninals */
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text {
  align-items: center;
  padding: 0 0 1em 1em;
}

.test-author {
  text-align: center;
}
.test-title,
.test-company,
.title {
  text-align: center;
}

.test-heading {
  text-align: center;
  padding: 0.5em 0 0.05em 0.5em;
}

/* media queries */

@media (max-width: 700px) {
  .services,
  .services2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 585px) {
  .fa-copyright {
    font-size: 10px;
  }
}
